/* CSS Document */
.header {
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.logo img {
  width: 120px;

}

.navigation ul {
  list-style: none;
}
.navigation li {
  margin:  25px;
}
.navigation li a {
  color: black;
  text-decoration: none;
}
.navigation li a:hover {
  color: red;
}
.banner {
	width: 100%;
  overflow: hidden;
  position: relative;
}
.content h1 {
  font-size: 48px;
color: white
}
.banner img {
  width: 100%;
  height:  600px;
}
.content {
  color: white;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content p {
  font-size: 30px;
  margin: 4px 0 40px;
	color: white
}
.btn {
  color: white;
  background: #669DFF;
  text-decoration: none;
  padding: 16px 40px;
}
.btn:hover {
  opacity: .8;
}
/*banner*/
.services{
  padding: 100px ;
  background: url("../img/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.services h1 {
  text-align: center;
  margin-bottom: 32px;
	color:#62A7F0
}
.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 25px rgba(152, 152, 152, 0.25);
}
.hinh-anh {
  height: 300px;
  overflow: hidden
}
.hinh-anh img {
  height: 100%;
}
.noi-dung {
  padding: 24px;
	font-size: 30px
}
.noi-dung p {
  margin: 8px 0 32px;
	font-size: 30px
}
h3 {
  font-size: 40px;
color:#C954DD;
}
h2 {
  font-size: 35px;
color: #CDD6FF;
}
H7{
	font-size: 20px; 
	color: white
}
p3{
	color: white;
}

b1 {
  color:#C9D1FF;
	font-size:25px
}
b2{
	color: aqua;
}
h1 {
  font-size: 30px;
}
.hinhanh {
  background: grey;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  border: white 1px solid
}
.hinhanh img {
  width: 150%;
}
.section-5 {
  width: 100%;
  height: auto;
  min-height: 900px;
  background: #181A11F;
  padding-top: 80px
}
.section-5 h1 {
  color: black;
  text-align: center;
}
.noidung img {
  width: 100%;
}
.section-7 {
  width: 100%;
  height: auto;
  min-height: 300px;
  background: #181A11F;
}
.section-7 h1 {
  color: black;
  text-align: center;
}
.noidung img {
  width: 100%;
}
h3{
	color:white;
	
		
}
.noidung-10{
	
	height: 100px;
	justify-content: space-between;
	
}
.footer{
	background: #9E70E9
}
.box-12{
	justify-content: center;
	display: flex;
}